deeplake
pillow
langchain
langchain-openai
langchain-community
chromadb
langchain-chroma
langchainhub==0.1.15
langchain-community
# pypdf
PyPDF2
einops
sentence-transformers
openai-whisper
streamlit
PyYAML
yt_dlp
whisper